﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NseData</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
		<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-0 py-0 px-3 justify-content-between">
			<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="SumData">NSE Data Scrape</a>
			<div class="small text-muted text-monospace text">@ViewData["BuildTag"]</div>
			@*
		// Validate if empty and set to current date
		// ViewData["FinisDate"]
			*@
			@{
				DateTime ldtMax = DateTime.Today.AddDays(-1.0);
				if (ViewData["BeginDate"] == null || (DateTime)ViewData["BeginDate"] == DateTime.MinValue)
				{
					ViewData["BeginDate"] = ldtMax;
				}
				if (ViewData["FinisDate"] == null || (DateTime)ViewData["FinisDate"] == DateTime.MinValue)
				{
					ViewData["FinisDate"] = ViewData["BeginDate"];
				}
				string lsBegin = ((DateTime)ViewData["BeginDate"]).ToString("yyyy-MM-dd");
				string lsFinis = ((DateTime)ViewData["FinisDate"]).ToString("yyyy-MM-dd");
				string lsMaxDate = ldtMax.ToString("yyyy-MM-dd");
			}

			<form class="form-inline shadow-outline mx-1 my-0 p-0">
				<div class="form-row align-items-center">

					<div class="col-auto">
						<label class="sr-only" for="inlineFormInputGroup">Begin Date</label>
						<div class="input-group mb-0">
							<div class="input-group-prepend">
								<div class="input-group-text">From</div>
							</div>
							<input type="date"
								   class="form-control"
								   id="BeginDate"
								   name="BeginDate"
								   required
								   format="dd/mm/yyyy"
								   max="@lsMaxDate"
								   value="@lsBegin">
						</div>
					</div>

					<div class="col-auto">
						<label class="sr-only" for="inlineFormInputGroup">End Date</label>
						<div class="input-group mb-0">
							<div class="input-group-prepend">
								<div class="input-group-text">To</div>
							</div>
							<input type="date"
								   class="form-control"
								   id="EndDate"
								   name="EndDate"
								   autoclose="true"
								   max="@lsMaxDate"
								   value="@lsFinis">

						</div>
					</div>

					<div class="col-auto">
						<input type="submit"
							   class="btn btn-info mb-0"
							   value="Get Data"
							   id="getData"
							   name="getData">
					</div>
				</div>

			</form>
		</nav>
    </header>

    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
		<div class="container">
			&copy; 2020 - NseData <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
								  <span class="small text-muted text-monospace text"> 63-7276-5279-6529-4720 </span>
		</div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
