﻿@using NseData.Models;
@model IEnumerable<sak.trails.NseData.Models.LineEntry>

@{
	ViewData["Title"] = "SumData";
	Layout = "~/Views/Shared/_Layout_Result.cshtml";
	string[] lasHeaders = sak.trails.NseData.Models.Common.ColHeaderText;
	int liSN = 0;
}

<div class="row">
	<div class="col-12 text-center">@ViewData["OutMesg"]</div>
</div>

@if (Model.Count() > 0)
{

	<table class="table">
		<thead>
			<tr>
				<th>S #</th>
				@for (int vI = 0; vI < lasHeaders.Length; vI++)
				{
					<th>@lasHeaders[vI]</th>
				}
			</tr>
		</thead>
		<tbody>
			@foreach (var vLine in Model)
			{
				liSN++;
			<tr>
				<td>@liSN</td>
				<td>@vLine.EDate.ToString("dd/MM")</td>
				<td class="text-left">@vLine.Client_Type</td>
				<td class="text-right">@vLine.Future_Index_Long.ToString("###,###,##0")</td>
				<td class="text-right">@vLine.Future_Index_Short.ToString("###,###,##0")</td>
				<td class="text-right">@vLine.Future_Stock_Long.ToString("###,###,##0")</td>
				<td class="text-right">@vLine.Future_Stock_Short.ToString("###,###,##0")</td>
				<td class="text-right">@vLine.Option_Index_Call_Long.ToString("###,###,##0")</td>
				<td class="text-right">@vLine.Option_Index_Put_Long.ToString("###,###,##0")</td>
				<td class="text-right">@vLine.Option_Index_Call_Short.ToString("###,###,##0")</td>
				<td class="text-right">@vLine.Option_Index_Put_Short.ToString("###,###,##0")</td>
				<td class="text-right">@vLine.Option_Stock_Call_Long.ToString("###,###,##0")</td>
				<td class="text-right">@vLine.Option_Stock_Put_Long.ToString("###,###,##0")</td>
				<td class="text-right">@vLine.Option_Stock_Call_Short.ToString("###,###,##0")</td>
				<td class="text-right">@vLine.Option_Stock_Put_Short.ToString("###,###,##0")</td>
				<td class="text-right">@vLine.Total_Long_Contracts.ToString("###,###,##0")</td>
				<td class="text-right">@vLine.Total_Short_Contracts.ToString("###,###,##0")</td>
			</tr>
			}
		</tbody>
	</table>

}
